.token {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
  }

  .manageMenu{
    background:lightgray;
    padding: 8px;
    border-radius: 10px;
    margin-right: 1px;
}